

<%- include("header") %>
    <div class="flex">

        <div class="flex-box">
            <h1><%= listTitle %></h1>
                        <div class="container">



                            <% for (var i=0; i < newListItem.length ; i++){%>
                                <div class="item">
                                    <input class="check field-break" type="checkbox">
                                    <p class="text">
                                        <%= newListItem[i] %>
                                    </p>
                                </div>

                                <% } %>


                                    <form class="btn" action="/" method="POST">
                                        <input type="text" name="newItem" autocomplete="off">
                                        <button class="secondary" type="submit" name="list" value=<%=listTitle%>>+</button>
                                    </form>
                                    <form class="btn" action="delete" method="Post">
                                        <button class="btn" type="submit" name="list" value=<%=listTitle%>>delete</button>
                                    </form>

                        </div>
        </div>
    </div>

<%- include("footer") %>
